describe("${1:ControllerName}", function () {
  var controller, view;

  beforeEach(function () {
    view = testDouble(${2});
    controller = new $1({view: view});
  });
  
  describe("${3}", function () {
    ${4}
  });
});
